body{
    background-image: url("bgpattern.png");
    overflow-x: hidden;
    color: white;
    font-family: courier;
    width: 100vw;
}
h1{
    font-size: 3rem;
}
h2{
    text-align: center;
    font-size:3rem;
}
h3{
    margin-top: 0;
    font-size: 2rem;
}
a{
    color: gray;
    background-color: rgba(50, 50, 50, 0.3);
    padding: 20px;
    text-decoration: none;
    transition: 0.2s;

}

a:hover{
    scale: 1.1;
    transition: 0.2s;
    background-color: rgba(50, 50, 50, 0.5);;
}

a img{
    width:100%;
}

a:visited{
    color: rgb(126, 143, 143)cb;
}

p{
    width: 50%;
    margin-bottom: 30px;
    height: 30%;
    
}


main{
    width: 100%;
    padding-top: 20px;

}

iframe{
    float: right;
    margin: auto;
    bottom: 0;
}

article{
    display: flex;
    background-color: rgba(20,20,20,0.5);
    padding: 30px;
    width: 1000px;
    height: 300px;
    margin: 50px;
    opacity: 0.0;
}

section{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

header{
    padding: 40px;
    background-color: #1a1d1a;
    color: aliceblue;
    text-align: center;
}

#lightbutton{
    background-color: lightgrey;
    color: black;
    font-family: 'monospace';
    border: 0;
    border-radius: 10%;
    font-weight: 600;
    padding: 10px;
    transition: 0.4s;
}
#lightbutton:hover{
    background-color: white;
    cursor: pointer;
    transition: 0.4s;

    scale: 1.1;

}
#darkbutton{
    display: none;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    font-family: 'monospace';
    border: 0;
    border-radius: 10%;
    font-weight: 600;
    padding: 10px;
    transition: 0.4s;


}
#darkbutton:hover{
    background-color: black;
    cursor: pointer;
    transition: 0.4s;
    scale: 1.1;
}

#light_changes {
    position: fixed;
    width:80px;
    display: flex;
    flex-wrap: wrap;
    top: 10px;
    right: 10px;
    border: 5px solid rgba(10, 10, 10, 0.3);
    background-color: rgba(10, 10, 10, 0.3);;
    padding: 10px;
}

div{
    width: 50%;
    height: auto;
}


@keyframes show{
    from{
        transform: translateY(1000px);
    }
    to{
        transform: translateY(0);

    }
}
.show{
    animation-name: show;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    opacity: 1;
}

ul{
    position: relative;
    margin: auto;
    width: 200px;
}

canvas{
    margin: 10px;
    border: 2px dotted white;
    image-rendering:pixelated;
}

