@keyframes slide_left {
  from {transform: translate(300%,0%);}
  to {transform: translate(0%,0%);}
}



body
{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(38, 38, 38);
    color: #e5dfba;
    font-size: 2vw;
    margin: 0;
    overflow-x: hidden;
}

header{
    padding: 5vw;
    text-align: right;
    animation: slide_left 0.5s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.0, 1);


}

footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.055);
    padding: 10px;
    height: 200px;
}

h1{
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 8vw;
}

h3{margin-top: 0;margin-bottom: 0px;}
h2{margin-top: 0;margin-bottom: 0px;}

main{
    display: flex;
    height: 100%;
}

article{
    height: 100%;
}
#r_article{
    width: 60%;
}

#l_article{
    width: 40%;
    background-color: #e5dfba;
    color: rgb(38, 38, 38);
}

ul{
    margin-top: 0;
}

img{
    width: 100%;
    background-color: rgb(38, 38, 38);

}

.padder{
    padding: 10px;
}
li{
    text-align: justify;
}

a{
    color: black;
}

a:hover{
    color: rgb(1, 37, 105);
}

section{
    padding: 5vw;
    animation: slide_left 1s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.0, 1);
}

h2{
    text-align: center;
}

#small_big_text{
    font-size: 4vw;
    margin: 0;
    margin-right: 40px;
    display: inline;
    letter-spacing: 5px;
    
}

#mini_gallery{
    display: none;
    height: 10%;
}
@media (max-width:1000px ){
    #mini_gallery{
        display: block;
    }

    li{
        font-size: 3vw;

    }

    #r_article{
    width: 50%;
    }

    #l_article{
        width: 50%;
    }

    p{
        font-size: 4vw;
    }
}